<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name ="BookStore" connectionString="Data Source = Frasp\SQLEXPRESS;  Initial Catalog = BookStore; Integrated Security = True; Connect Timeout = 2  Encrypt = False;
                                         Trust Server Certificate = False;
                                         Application Intent = ReadWrite;
                                         Multi Subnet Failover = False"/>
	</connectionStrings>
</configuration>